<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dumposk129.create.stories.app">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>

    <!--<supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="600"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Quizzes Menu-->
        <activity
            android:name=".quizzes.Quizzes"
            android:label="@string/title_activity_quizzes" />
        <activity
            android:name=".quizzes.NumberOfQuestion"
            android:label="@string/title_activity_num_of_questions" />
        <activity
            android:name=".quizzes.Questions"
            android:label="@string/title_activity_question" />
        <activity
            android:name=".quizzes.Answers"
            android:label="@string/title_activity_answer" />
        <activity
            android:name=".quizzes.AllQuestions"
            android:label="@string/title_activity_show_questions" />

        <!-- Watches -->


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>

        <activity
            android:name=".create_stories.SelectBackground"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".create_stories.PhotoBackground" />
        <activity android:name=".create_stories.PhotoCharacter" />
        <activity android:name=".create_stories.AddText" />
        <activity android:name=".create_stories.SelectCharacter"/>
        <activity android:name=".create_stories.AudioRecording"/>
        <activity android:name=".create_stories.MoveImageFromGallery"/>
        <activity android:name=".create_stories.CreateStories"/>
</application></manifest>