<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dumposk129.create.stories.app">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="600"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!-- Quizzes Menu-->
        <activity
            android:name=".quizzes.Quizzes"
            android:label="@string/title_activity_quizzes" />
        <activity
            android:name=".quizzes.Questions"
            android:label="@string/title_activity_question_next" />
        <activity
            android:name=".quizzes.NumberOfQuestion"
            android:label="@string/title_activity_num_of_questions" />
        <activity
            android:name=".quizzes.Answers"
            android:label="@string/title_activity_answer" />
        <activity
            android:name=".quizzes.AllQuestions"
            android:label="@string/title_activity_show_questions" />

        <activity android:name=".audio_record.AudioButton">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".audio_record.AudioRecording" />
        <activity android:name=".audio_record.FileList" />
        <activity android:name=".audio_record.ListFilesActivity" />
        <activity android:name=".audio_record.VideoViewActivity" />
        <activity android:name=".audio_record.AddData" />
        <activity android:name=".audio_record.ChoosePicture" />
        <activity android:name=".audio_record.GetPath" />
        <activity android:name=".audio_record.Main2" />
        <activity android:name=".audio_record.Save" />
        <activity android:name=".audio_record.Web" />
    </application>

</manifest>