<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dumposk129.create.stories.app">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Quizzes Menu-->
        <activity
            android:name=".quizzes.Quizzes"
            android:label="@string/title_activity_quizzes" />
        <activity
            android:name=".quizzes.NumberOfQuestion"
            android:label="@string/title_activity_num_of_questions" />
        <activity
            android:name=".quizzes.Answers"
            android:label="@string/title_activity_answer" />
        <activity
            android:name=".quizzes.AllQuestions"
            android:label="@string/title_activity_show_questions" />

        <!-- Create Stories -->
        <activity
            android:name=".create_stories.CreateStories"
            android:label="@string/title_activity_creates">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".create_stories.AudioRecording"
            android:label="@string/title_activity_audio_record" />
        <activity
            android:name=".create_stories.SaveTitle"
            android:label="@string/title_activity_save_title" />
        <activity
            android:name=".create_stories.SoundPath"
            android:label="@string/title_activity_sound_path" />
        <activity
            android:name=".create_stories.ChooseImage"
            android:label="@string/title_activity_chooseimg_only" />
        <activity
            android:name=".create_stories.Upload"
            android:label="@string/title_activity_upload" />

        <!-- Watches -->
        <activity
            android:name=".watch.Watch"
            android:label="title_activity_watches" />
    </application>
</manifest>